<p>My bookings</p>

<% @bookings.each do |booking| %>
  <p> From the <%= booking.begin_date %></p>
  <p> To the <%= booking.end_date %></p>
  <p><%= booking.request_status %></p>
  <p><%= link_to "See this booking", booking_path(booking)%></p>
<% end %>