
// $gray-light: lighten($gray-base, 46.7%);
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 4.5));

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

$font-family-sans-serif: "Open sans";

@import "variables";
@import "bootstrap";
@import "bootstrap-datepicker3";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";
@import "footer";
@import "welcomes";

body {
  padding-top: 50px;
}

footer {
  position: absolute;
}
