
// $gray-light: lighten($gray-base, 46.7%);
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 4.5));
$btn-primary-bg: blue;

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700,300');

@import "variables";
@import "bootstrap";
@import "bootstrap-datepicker3";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";
@import "footer";
@import "welcomes";
@import "registration";
@import "session";
@import "shared";
@import "passwords";
@import "addflat";

body,html {
  margin:0;
  padding:0;
  height:100%;
}

.wrapper{
  min-height:100%;
  position:relative;
  padding-top: 50px;
}

.content{
  position:relative;
  padding-bottom:80px;
}


.bookingBtn{
  background: #ff6531;
  position:relative;
  color:white;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  border-bottom: 3px solid #b6471f;
  border-radius:3px;
  transition: background-color 0.4s ease;

  &:hover{
    color:white;
    text-decoration: none;
    background-color:#ff8337;
  }

  &:active{
    top: 2px;
    border-bottom: 3px solid transparent;

  }
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-size: 1.5em;
  color: #31708f;
  margin: 30px auto 10px auto;
  width: 500px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -250px;

}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  font-size: 1.5em;
  color: #31708f;
  margin: 30px auto 10px auto;
  width: 500px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -250px;
}

#email-profile {
  position: relative;
  padding-bottom: 0px;
  margin-top: 50px;
  width: 500px;
  margin-left: 100px;
}

#info-profile {
  position: relative;
  padding-bottom: 0px;
  margin-top: 20px;
  width: 500px;
  margin-left: 100px;
}

.quite-margin-top-bottom {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.go-quite-down {
  padding-top: 50px;
}

.margin-btn {
  margin: 4px;
}

#flat-infos-in-flat-view {
  padding-left: 20px;
}


