
// $gray-light: lighten($gray-base, 46.7%);
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 4.5));

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,300');

$font-family-sans-serif: "Open sans";

@import "variables";
@import "bootstrap";
@import "bootstrap-datepicker3";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";
@import "footer";
@import "welcomes";
@import "registration";
@import "session";

body,html {
  margin:0;
  padding:0;
  height:100%;
}

.wrapper{
  min-height:100%;
  position:relative;
  padding-top: 50px;
}

.content{
  position:relative;
  padding-bottom:80px;
}


