#wrap-that-flat {
  background-image: image-url('Sea_and_sky.jpg');;
  min-height: 500px;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 200px;
}

#flat-picture {
  min-height: 350px;
  min-width: 350px;
  border-radius: 25%;
}