#wrap-passwords {
  background-image: image-url('Another_sky.jpeg');;
  background-size: cover;
  min-height: 650px;
  padding-top: 80px;
  padding-bottom: 200px;
  h2 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  h3, h4 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

#pwformsize {
  width: 500px;
  padding-left: 17px;
}

#forgot-link {
  padding-left: 100px;
  padding-right: 200px;
}

