#wrap-passwords {
  background-color: #95b1df;
  background-size: cover;
  min-height: 800px;
  padding-top: 80px;
  padding-bottom: 200px;
  h2, h3, h4 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

#pwformsize {
  width: 500px;
  padding-left: 17px;
}

