#wrap-registration {
  background-image: image-url(House_06);
  background-size: cover;
  min-height: 800px;
  padding-top: 200px;
  padding-bottom: 200px;
  h2{
    color: white;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

.actions {
  padding-top: 10px;
}

#login-link {
  color: white;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 50px;
}
