#wrap-session {
  background-image: image-url('House_06.jpg');
  background-size: cover;
  min-height: 800px;
  padding-top: 80px;
  padding-bottom: 200px;
  h2{
    color: white;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

#formsize {
  width: 500px;
  padding-left: 17px;
}

.actions {
  padding-top: 10px;
}

#remember {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

#h3 {
  margin-top: 5px;
}

