// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bck-image {
  background-image: image-url('House_01.jpg');
  background-size: cover;
  min-height: 500px;
  padding-top: 200px;
  padding-bottom: 200px;
  h1{
    color: white;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 200px;
  }
}
