// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bck-image {
  background-image: url(House_01.jpg);
  background-size: cover;
  min-height: 600px;
  padding-top: 200px;
  h1{
    color: white;
  }
}
