
<footer>
  <ul id="social-links" class="list-inline">
    <li>Contact information: <a href="mailto:contact@rbnb.com">contact@rbnb.com</a></li>
    <li><class="fa fa-facebook-square", alt="facebook"></li>
    <li><img scr="logo.png", alt="facebook"></li>
    <li><img scr="logo.png", alt="facebook"></li>
</footer>

