<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div id="social-links">
          <ul class="list-inline">
            <li><i class="fa fa-facebook-square"></i></li>
            <li><i class="fa fa-twitter-square"></i></li>
            <li><i class="fa fa-youtube-square"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6" id="mail-link">
        <p>Contact information: <a href="mailto:contact@rbnb.com">contact@rbnb.com</a></p>
      </div>
    </div>
  </div>
</div>